<footer>
  <span>
    <LinkTo class="link-to" @route="privacy-notice">Privacy Notice</LinkTo>
  </span>
  <span>
    <LinkTo class="link-to" @route="terms-of-use">Terms of Use</LinkTo>
  </span>
  <span>
    <LinkTo class="link-to" @route="cookies">Cookies</LinkTo>
  </span>
  <span>
    <LinkTo class="link-to" @route="about-us">About Us</LinkTo>
  </span>
  <div id="theEnd">
    ...Strap Lorane
  </div>
</footer>