{{page-title 'HomePage'}}
<div style="background-color:#2E2E2E">
  <div id='title'>
    <h1>Strap Lorane</h1>
  </div>

  <SideMenu />

  <HeroVideo muted />

  <HeroBanner />

  <h1>Handcrafted watches that tells you a story </h1>

  <WatchListings @namee={{@model}}/>

  <LoginForm/>

  <SignupForm/>

  <LogoutForm/>

  <hr />

  <Footer />
</div>